<div class="container mt-5">
    <footer class="py-5">
      <div class="row">
        <div class="col-6 col-md-2 mb-3">
          
          <h5>About</h5>
        
          <ul class="nav flex-column">
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Home</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Features</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Pricing</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">FAQs</a></li>
            <li class="nav-item mb-2"><a href="/about/" class="nav-link p-0 text-body-secondary">About</a></li>
          </ul>
        </div>
  
        <div class="col-6 col-md-2 mb-3">
          <h5>My Account</h5>
          <ul class="nav flex-column">
            <li class="nav-item mb-2"><a href="/#/" class="nav-link p-0 text-body-secondary">Sign In</a></li>
            <li class="nav-item mb-2"><a href="/cart/" class="nav-link p-0 text-body-secondary">View Card</a></li>
            <li class="nav-item mb-2"><a href="/wishlist" class="nav-link p-0 text-body-secondary">My Wishlist</a></li>
            <li class="nav-item mb-2"><a href="/order/" class="nav-link p-0 text-body-secondary">Order</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Help</a></li>
          </ul>
        </div>
  
        <div class="col-md-5 offset-md-1 mb-3">
          <form>
            {% comment %} <h5>Subscribe to our newsletter</h5> {% endcomment %}
            <p>Stay in touch with us, get product updates, offers, discounts directly to your inbox</p>
            <div class="d-flex flex-column flex-sm-row w-100 gap-2">
              <label for="newsletter1" class="visually-hidden">Email address</label>
              <input id="newsletter1" type="text" class="form-control" placeholder="Email address" spellcheck="false" data-ms-editor="true">
              <button class="btn btn-primary" type="button">Subscribe</button>
            </div>
          </form>
        </div>
      </div>
  
      <div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top mt-4 mb-2">
       <p>© 2025 Ketan Shinde. All rights reserved.</p>
        <ul class="list-unstyled d-flex">
          <li class="ms-3"><a class="link-body-emphasis" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#twitter"></use></svg></a></li>
          <li class="ms-3"><a class="link-body-emphasis" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#instagram"></use></svg></a></li>
          <li class="ms-3"><a class="link-body-emphasis" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#facebook"></use></svg></a></li>
        </ul>
      </div>
    </footer>
  </div>