{% extends "base.html" %}
{% block body %}
<!-- cart content -->
<section id="cards" class='mt-4'>
    <!-- title & subTitle -->
    <div class="container mb-4">
        <div class="text-center bg-body-secondary p-5 rounded">
            <h1 class="fw-bold">Our wishlist</h1>
            <p class="opacity-75">Picked items Collection by '{{user.username}}'</p>
        </div>
    </div>
    <!-- content -->
    <div class="container">
        <div class="row d-flex justify-content-center flex-wrap gap-3">
            {% if wishlist_items %}
            {% for wishlist_item in wishlist_items %}
                <div class="card p-3 position-relative" style="width: 18rem">
                    <div class="position-absolute top-0 end-0 p-2">
                        <form method="POST" class="float-end" action="{% url 'delete-wishlist-item' wishlist_item.id %}" class="d-flex gap-2">
                            {% csrf_token %}
                            <button class="btn btn-danger" type="submit"><i class="fa-solid fa-xmark"></i></button>
                        </form>
                      </div>
                    <img src="{{ wishlist_item.product.image.url }}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{ wishlist_item.product.name }}</h5>
                        <p class="card-text">
                            {{ wishlist_item.product.description }}
                        </p>
                        <p clas="card-text">
                            Price : ₹{{wishlist_item.product.price}}
                        </p>
                        <form method="post" action="{% url 'move-to-cart' wishlist_item.id %}">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-primary">Move to Cart</button>
                        </form>
                    </div>
                </div>
            {% endfor %}
        {% else %}
        <div class="container my-4">
            <h3 class='text-center p-3 border shadow'>No products picked yet.</h3>
        </div>
        {% endif %}
        
        
        </div>
    </div>
    <!--cart main -->
    <div class="container my-4">
        <div class="text-center bg-body-secondary p-5 rounded">
            <h3 class="fw-bold">Grand-Total : ₹{{total_wishlist_value}}</h3>
            <div class="d-flex flex-wrap justify-content-center gap-2 mx-auto mt-2">
                <a href="/" class="btn btn-secondary btn-lg" type="button">Continue to Shopping</a>
                <form method="post" action="{% url 'delete-all-wishlist-items' %}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger btn-lg" {% if not wishlist_items %} disabled {% endif %}>Delete All</button>
                </form>
              </div>
        </div>
    </div>
</section>
<!-- cart content -->
{% endblock body %}